
img{
  display:flex;
  padding:10px;
margin:0 auto;
  border-radius: 130px;
}

h1{
      text-align:left;
      padding-left: 80px;
      padding-top: 380px;
      color: white;
      font-weight: 650;

}

body, html {
  height: 100%;
  font-style:
  width:100%;
  margin: 0;

}
.backgroundimage {
  background-image:URL("Assets/Images/bus.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav>h3{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}
nav{
    margin-left:auto;
    margin-right:auto;
    width: 100%;

  }

  .bg-dark {
background-color: rgba(52, 58, 64, 0.67)!important;

  }
