
body {
  background-color: rgb(89, 90, 91);

}
h1{
      text-align:left;
      padding-left: 80px;
      padding-top: 30px;
      color: white;
      font-weight: 650;



}

h6{
  text-align:center;
  padding-top: 90px;
  padding-bottom: 50px;
  color: black;



}

body, html {
  height: 100%;
  width:100%;
  margin: 0;

}

nav>h3{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}
nav{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
  }

    .bg-dark {
  background-color: rgba(52, 58, 64, 0.67)!important;

    }

  img{
    display:flex;
    float: left;
    padding:20px;
  margin:0 auto;
  border-left;
  }

  ol{
  list-style: none;
  justify-content: space-evenly;
  text-align:center;
  padding: 20px;
  color: black;



}

/*create a seperate html page for landscapes and call it landscapes.html */
