@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: rgb(89, 90, 91);
}

/*----navbar styling------------------------*/
nav>h3 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  height: 50px;
  width: 100%;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 20px;
}

button:focus {
  outline: 1px dotted;
  outline: none;
}

.bg-dark {
  background-color: rgba(52, 58, 64, 0.67) !important;
}

/*----home page styling------------------------*/
h1 {
  text-align: left;
  padding-left: 80px;
  padding-top: 450px;
  color: white;
  font-size: 4rem;
}


.backgroundimage {
  background-image: url(../images/bus.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/*----About Me section styling------------------------*/
#about {
  color: #fff;
  width: 100vw;
  padding-top: 50px;
  margin-bottom: 20px;
}

h2 {
  letter-spacing: 10px;
  margin-left: 50px;
  color: whitesmoke;
  padding-top: 30px;
}

.about_text {
  display: block;
  float: right;
}

.text {
  margin-top: 100px;
  margin-left: 50px;
  font-size: 2em;
  width: 40vw;
  font-style: italic;
  padding-top: 30px;
}

.intro {
  margin-top: 100px;
  margin-left: 50px;
  font-size: 2em;
  width: 40vw;
  padding-top: 20px;
}

.photograper_img {
  width: 80%;
  float: none;
  overflow-x: hidden;
  display: flex;
  padding: 10px;
  margin: 35px ;
  border-radius: 0px;
}

/*------- Gallery main page styling -------*/
#gallery {
  margin-top: 100px;
}

.gallery_img {
  height: 50vw;
  width: 50vw;
  object-fit: cover;
  float: none;
  overflow-x: hidden;
}

.col-lg-6 {
  padding-left: 0;
}

.gallery-link-c {
  text-decoration: none;
  position: absolute;
  color: #000;
  top: 10px;
  left: 120px;
}

.gallery-link-bw {
  text-decoration: none;
  position: absolute;
  color: #fff;
  top: ;
  left: ;
}

a.gallery-link-c:hover, a.gallery-link-bw:hover {
  text-decoration: underline;
  color: grey;
}

.gallery-container {
  position: relative;
  font-size: 30px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

/*---- Photogallery styling -------------------------- */
.picture {
  height: 100vh;
  margin-top: 50px;
}

.colour-gallery {
  column-count: 3;
  column-gap: 0px;
  line-height: 0;
}

.black-and-white {
  column-count: 3;
  column-gap: 0px;
  line-height: 0;
}

.photo {
  width: 100%;
}

wrapper {
  display: inline-grid;
}

wrapper p {
  opacity: 0;
  position: absolute;
  transform: translate(10px, 20px);
  color: #fff;
  z-index: 1;
  font-size: 37px;
  transition: opacity ease-in-out 1.5s;
}

wrapper:hover p {
  opacity: 1;
}

/*----exhibition section styling------------------------*/
h6 {
  text-align: center;
  padding-top: 50px;
  padding-right: 40px;
  color: whitesmoke;
  font-size: 1.3rem;
}

ol {
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  color: whitesmoke;
  font-size: 25px;
}

.img-one {
  display: flex;
  padding: 10px;
  margin: 35px ;
  border-radius: 0px;
  width: 80%;
}

/*----Contact page styling------------------------*/
.backgroundimage3 {
  background-image: url(../images/streets.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*:focus {
  outline: 0;
}

h3 {
  text-align: center;
}

.container {
  padding: 12px 24px 24px 24px;
  width: 60%;
  background: rgba(52, 58, 64, 0.67);
  border-radius: 4px;
  float: center;
}

label {
  font-size: 0.85em;
  margin-left: 12px;
  color: white;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  border: 1px solid black;
}

input[type=submit] {
  background: rgb(89, 90, 91);
  margin: 0 auto 50px 0;
  outline: 0;
  color: white;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  position: relative;
  display: inline-block;
  text-align: center;
}

input[type=submit]:focus {
  background: rgb(89, 90, 91);
  color: whitesmoke;
}

input[type=submit]:hover {
  background: rgb(89, 90, 91);
}

.center {
  text-align: center;
}

#success {
  color: #fff;
}

/*----Footer section styling------------------------*/
ul {
  list-style: none;
  margin-left: 50px;
  width: 100vw;
}

.fa {
  font-size: 30px;
  color: #fff;
}

footer {
  background-color: transparent;
  margin-top: 0;
  height: 60px;
  margin-bottom: 10px;
}

/*----Media Queries------------------------*/
@media(min-width: 600px) {
  .gallery-link-bw {
    position: absolute;
    color: #fff;
    top: 75%;
    left: 70%;
  }

  .gallery-link-c {
    top: 40px;
    left: 10%;
    color: #000;
  }
}

@media(min-width: 992px) {
  .gallery-link-bw {
    position: absolute;
    color: #fff;
    top: 75%;
    left: 75%;
  }

  .gallery-link-c {
    top: 40px;
    left: 10%;
    color: #000;
  }
}

@media(min-width: 1200px) {
  .gallery-link-bw {
    position: absolute;
    color: #fff;
    top: 80%;
    left: 80%;
  }

  .gallery-link-c {
    top: 40px;
    left: 10%;
    color: #000;
  }

  .picture {
    height: 100vh;
  }

  .colour-gallery {
    column-count: 3;
    column-gap: 0;
    line-height: 0;
  }
}

@media(max-width:768px) {
  .colour-gallery {
    column-count: 2;
    column-gap: 0;
    line-height: 0;
  }
}

@media(max-width:991px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: rgba(52, 58, 64, 0.9);
    width: 200px;
  }
}
